@{
    ViewBag.Title = "Sobre Kapta";
}
<h2>@ViewBag.Title.</h2>
@* <h3>@ViewBag.Message</h3>*@
<h3>Aplicación para el tratamiento adaptado de lesiones</h3>
<p>Aplicación programada por Pablo García Fernández</p>
